@import './variables';

.cabeceraCatalogo {
    font-family: $familia-fuente;

    &__contTitulo{
        height: 30vh;

        &__titulo {
            font-size: 5rem;
            font-weight: 400;
        }
    }
    &__filtroBusqueda {
        height: 7vh;
        &__botonBuscar{
            border-radius: 0;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        &__inputBuscar {
            border-radius: 0;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        &__inputFiltro {
            border-radius: 15px;
        }
    }
}
