.nuevoModelo {
    min-height: 50vh;
    font-family: $familia-fuente;

    &__contFemenino {
        background-image: url('../../img/modeloDestacado2.jpg');
        background-size: cover;
        background-position: center;
        
        &__titulo {
            color: #ffffff;
        }
    }
    &__contMasculino {
        background-image: url('../../img/modeloDestacado1.jpg');
        background-size: cover;
        background-position: center;
    }
}