@import '../parciales_index/variables';
@import '../parciales_generales/mixins';

.carrito {
    min-height: 100vh;
    margin-top: 10vh;
    font-family: $familia-fuente;
    
    
    &__tarjeta{
        @include card();


        &__subtotal {
            font-size: 1.7rem;
            font-weight: 300;
        }
        &__total {
            font-size: 2.2rem;
            font-weight: 400;
        }
    }
    &__h5 {
        font-size: 1.7rem;
        font-weight: 400;
    }
    &__precio {
        font-size: 1.8rem;
        font-weight: 300;
    }
}