@import '../parciales_index/variables';

.carrito {
    min-height: 100vh;
    margin-top: 10vh;
    font-family: $familia-fuente;
    
    
    &__tarjeta{
        background-color: #ffffff;
        border-radius: 20px;
    }
    &__h5 {
        font-size: 1.7rem;
        font-weight: 400;
    }
    &__precio {
        font-size: 1.8rem;
        font-weight: 300;
    }
}