.navegacion {
  font-family: "Roboto Flex", sans-serif;
}
.navegacion__logo {
  width: 80px;
}
.navegacion__lista {
  height: 5vh;
}
.navegacion__lista__item {
  width: 6vw;
}
.navegacion__lista__item__link {
  font-size: 1.2rem;
  font-weight: 200;
}
.navegacion__lista__item__link:hover {
  font-size: 1.4rem;
  font-weight: 400;
}
.navegacion__lista__itemIconos__link {
  font-size: 1.2rem;
}

.header {
  min-height: 95vh;
  height: 90vh;
  background-image: url("../../img/portada.jpg");
  background-position: center;
  background-size: cover;
}
.header__portada {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 10.2vh;
  height: 100%;
}
.header__portada__h1, .header__portada__h2 {
  font-family: "Roboto Flex", sans-serif;
  color: #ffffff;
}
.header__portada__h1 {
  font-size: 5rem;
}
.header__portada__h2 {
  font-size: 15rem;
}

.prodDestacados {
  min-height: 60vh;
}
.prodDestacados__contenedor {
  height: 60vh;
}
.prodDestacados__contenedor__item {
  height: 60vh;
  font-family: "Roboto Flex", sans-serif;
}
.prodDestacados__contenedor__item__titulo {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 200;
}
.prodDestacados__contenedor__item__parrafo {
  font-size: 1.2rem;
  font-weight: 100;
}

.nuevoModelo {
  min-height: 50vh;
  font-family: "Roboto Flex", sans-serif;
}
.nuevoModelo__contFemenino {
  background-image: url("../../img/femenino.jpg");
  background-size: cover;
  background-position: center;
}
.nuevoModelo__contFemenino__titulo {
  color: #ffffff;
}
.nuevoModelo__contMasculino {
  background-image: url("../../img/masculino.jpg");
  background-size: cover;
  background-position: center;
}

.modelos {
  font-family: "Roboto Flex", sans-serif;
  min-height: 100vh;
  background-color: blue;
}
.modelos__contenedor {
  gap: 12.5%;
  width: 100%;
}
.modelos__producto__precio {
  font-size: 1.8rem;
  font-weight: 300;
}

.contacto {
  min-height: 60vh;
  font-family: "Roboto Flex", sans-serif;
}
.contacto__titulo {
  font-size: 3rem;
  font-weight: 300;
}
.contacto__formulario {
  font-size: 1.2rem;
  font-weight: 200;
  width: 80%;
}

.footer__logo {
  width: 50px;
}

.cabeceraCatalogo {
  font-family: "Roboto Flex", sans-serif;
}
.cabeceraCatalogo__contTitulo {
  height: 30vh;
}
.cabeceraCatalogo__contTitulo__titulo {
  font-size: 5rem;
  font-weight: 400;
}
.cabeceraCatalogo__filtroBusqueda {
  height: 7vh;
}
.cabeceraCatalogo__filtroBusqueda__botonBuscar {
  border-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.cabeceraCatalogo__filtroBusqueda__inputBuscar {
  border-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.cabeceraCatalogo__filtroBusqueda__inputFiltro {
  border-radius: 15px;
}

.producto {
  font-family: "Roboto Flex", sans-serif;
  margin-top: 20vh;
  min-height: 90vh;
}

.carrito {
  min-height: 30vh;
  margin-top: 10vh;
  font-family: "Roboto Flex", sans-serif;
}
.carrito__secProductos__producto {
  border-radius: 20px;
  background-color: #ffffff;
  padding: 0px;
}
.carrito__secProductos__producto__marcaModelo {
  font-size: 1.7rem;
  font-weight: 400;
}
.carrito__secProductos__producto__precio {
  font-size: 1.8rem;
  font-weight: 300;
}
.carrito__secProductos__noHayProductos {
  border-radius: 20px;
  background-color: #ffffff;
  padding: 60px;
  gap: 30px;
}
.carrito__secProductos__noHayProductos__titulo {
  font-size: 2.5rem;
  font-weight: 200;
}
.carrito__secProductos__noHayProductos__pregunta {
  width: 100%;
}
.carrito__secProductos__noHayProductos__pregunta__texto {
  font-size: 1.8rem;
  font-weight: 200;
}
.carrito__secProductos__noHayProductos__pregunta__boton {
  font-size: 1.3rem;
}
.carrito__secTotal__contTotales {
  border-radius: 20px;
  background-color: #ffffff;
  padding: 0px;
}
.carrito__secTotal__contTotales__subtotal {
  display: inline;
  font-size: 1.7rem;
  font-weight: 300;
}
.carrito__secTotal__contTotales__total {
  display: inline;
  font-size: 2.2rem;
  font-weight: 400;
}
.carrito__secTotal__contTotales__botones {
  width: 100%;
}
.carrito__secTotal__contTotales__botones__seguirComprando {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
